---
import { Picture } from '@astrojs/image/components';

interface Item {
  title: string;
  description?: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  content?: string;
  items?: Array<Item>;
  image?: string | any; // TODO: find HTMLElementProps
  isReversed?: boolean;
  isAfterContent?: boolean;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  content = await Astro.slots.render('content'),
  image = await Astro.slots.render('image'),
  isReversed = false,
  isAfterContent = false,
} = Astro.props;
---

<section id="about" class:list={[{ 'pt-0 md:pt-0': isAfterContent }, 'bg-blue-50 dark:bg-slate-800 py-16 md:py-20']}>
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    {
      (title || subtitle || highlight) && (
        <div class="mb-10 max-w-3xl text-center md:mx-auto md:mb-12">
          {highlight && (
            <p
              class="text-base font-semibold uppercase tracking-wide text-primary dark:text-blue-200"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="leading-tighter mb-4 font-heading text-4xl font-bold tracking-tighter md:text-5xl"
              set:html={title}
            />
          )}

          {subtitle && (
            <p class="text-muted mx-auto max-w-3xl text-xl dark:text-slate-400 sm:text-center" set:html={subtitle} />
          )}
        </div>
      )
    }
  </div>
  <div class="mx-auto max-w-4xl p-4 md:px-8">
    <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : ''} md:gap-16`}>
      <div class="self-center">
        {
          image && (
            <div class="float-left max-w-4xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-8 rounded-full"
                  width={128}
                  height={128}
                  widths={[400, 768]}
                  sizes="(max-width: 768px) 100vw, 432px"
                  aspectRatio="1:1"
                  {...image}
                />
              )}
            </div>
          )
        }
        {content && <div class="text-md mb-12 leading-loose dark:text-slate-400" set:html={content} />}
      </div>
    </div>
  </div>
</section>
